* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(130, 192, 37);
  width: 100%;
  height: 25%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;

  position: fixed;
  top: 0;
  left: 0;
}

header > h1 {
  font-size: 50px;
  font-weight: 500;
  color: #000;
}

header > nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

button {
  color: #000;
  font-size: 18px;

  background-color: #fff;
  border-radius: 90px;
  border: 2px solid rgb(65, 97, 16);
}

button:hover {
  color: #fff;
  background-color: rgb(65, 97, 16);
  border: 2px solid rgb(65, 97, 16);
  transition: all 0.5s;
}